.unorder-upcoming-list {
  display: flex;
  flex-wrap: wrap;
}

.products-loader-container {
  align-items: center;
  margin-left: 50%;
}

.upcoming-heading {
  color: #1a237e;
  font-family: italic;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.page-naviga-card {
  display: flex;
  justify-content: space-between;
}

.page-nav-btn {
  background-color: #0288d1;
  color: white;
  height: 45px;
  width: 90px;
  border-width: 0px;
  border-radius: 10px;
}
