.unorder-cast-list {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .unorder-cast-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    align-items: center;
  }
}
